/*Theme Color */
h1,h2,h3,h4,h5 {
    color: #0094cc;
}
.bgwhite {
    background-color: white;
}
.bluebg {
    background-color: #0094cc;
    color: #ffffff;
}
ul { list-style-type: none;}
.text-color-boxes {
    color: #ffffff;
    text-align: right
}
/* .text-color-boxes h1, .text-color-boxes span h2  {
    text-align: right;
} */
.text-color-boxes span h2, .text-color-boxes span h5 {
    display: inline;
}
/* #b4b6b3  */

.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .nav-link > .dashicons {
    /* color: #222222; */
    line-height: 2.2rem;
}
.navbar-light .navbar-nav .nav-link span {
    color: #ffffff;
    line-height: 2.2rem;
}
/* .navbar-light .navbar-nav .nav-link span::after {
    content: "\A";
} */
.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link > .dashicons:hover{
    background-color:#0377a1;
    /* color: #ffffff; */
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(243, 241, 241, 0.9);
    background-color:#0094cc;
}
.navbar-expand-md {

    background-color: #e4e4e4 ;
    padding: 0;
    border-bottom: #0094cc .2em solid;
}
.nav-link {
    display: block;
    padding: 1rem;
}
.dbmnav_wrap {
    text-align: center;
}
/*menu and icon inline or block type*/
.menubottom {
    display:block;
}
.width-full { width: 100%;}
/* Margins(m) one to max top only*/
.space-m-5-top { margin-top: 3em;}
.space-m-5-top { margin-top: 5em;}
.space-m-6-top { margin-top: 6em;}
.space-m-7-top { margin-top: 7em;}
/* Margins(m) one to four top bottom only*/
.space-m-onep5-topdown { margin:.5em auto;}
.space-m-one-topdown { margin:1em auto;}
.space-m-two-topdown { margin:2em auto;}
.space-m-three-topdown { margin:3em auto;}
.space-m-four-topdown {margin:4em auto;}

/* Margins(m) one to four to all*/
.space-m-zero { margin:0;}
.space-m-one { margin:1em;}
.space-m-two { margin:2em;}
.space-m-three { margin:3em;}
.space-m-four {margin:4em;}

/* Paddings(p) one to four top bottom only*/
.space-p-one-topdown { padding:1em auto;}
.space-p-two-topdown { padding:2em auto;}
.space-p-three-topdown { padding:3em auto;}
.space-p-four-topdown {padding:4em auto;}

/* Paddings(p) zero to four to all*/
.space-p-zero{ padding:0;}
.space-p-one{ padding:1em;}
.space-p-two{ padding:2em;}
.space-p-three { padding:3em;}
.space-p-four {padding:4em;}

/* Margin(p) one to four sides only*/
.space-m-zero-p5-sides { margin: 0 .5rem;}
.space-m-one-sides { margin: 0 1rem;}
/* Paddings(p) one to four sides only*/
.space-p-one-sides { padding: 0 1rem;}

/* margin(m) one negative top only for color boxes only*/
.space-m-negative-one-top { 
    margin-top:-1em auto;
}
/* paddding(m) zero sides only for color boxes only*/
.space-p-zero-side{ 
    padding:0;
}
/*Round corners two types*/
.rounded-corners-one {border-radius: 1em;}
.rounded-corners-two {border-radius: 2em;}

/*Box colors*/
.box{ 
    height: 15em;  
    padding: 4em 1em;
}
.box a {
    color: white;
    text-decoration:none;
}
section > ul.row { padding: 0}
#box1 {background-color: #ff9933;}
#box2 {background-color: #669933;}
#box3 {background-color: #336699;}
#box4 {background-color: #993366;}

.front-page-content {
    border-top: 5px #00b9eb solid;
    background-color: #ffffff;
    height: auto;
}
/* Page and post style*/
.home, .page-template-default, .post-template-default{
    background-color: #f1f1f1;
    position:relative;
}
#search, #categories {
    background-color: #ffffff;
    height: auto;
    /* margin:0 .1rem; */
}
#categories li{
    display: inline;
}
/*Removes adminbar while login*/
#wpadminbar {
    display:none;
}
/* Footer Area*/
footer span.dashicons {
    font-size: 2em;
    margin-bottom: .5em;
}
footer ul{
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
}
#site-footer {
    position: absolute;
    /* bottom: 0; */
    width: 100%;
}
hr, .line-bottom {
    border-bottom: solid 1px #dcd9d9;
    margin-bottom: 1.5em;
}

/* Carousel*/
#carouselId {
    margin: 3.5em 0 0 0;
}
/*ContactForm */
/* .contact-form-design {

} */
.bluebg h5{
    background-color: #0094cc;
    color: #ffffff;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: #e4e4e4;
}
/*Sidebar search form controls*/
#s {
    width:80%;
}
#searchform {
    position: relative;
}
#recent-posts-3 ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
#recent-posts-3 ul li {
    padding: 2em 0;
}
#search ul {
    margin:0;
    padding:.5em;
    list-style: none;
}
/*==========  Mobile First Method  ==========*/

@media only screen and (min-width : 320px) {
    footer span.dashicons {
        font-size: 30px;
    }  
    .navbar-nav {
        text-align: center;
        /* float:left; */
    }    
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link > .dashicons {
        text-align: left;
    }
    footer span .dashicons {
        font-size: 30px;
    }
    
    .menubottom {
        display:inline;
    }
    #search {
        border-top: 5px #cc3366 solid;
    }
    
    #categories {
        padding: 1em;
        border-top: 5px #53ee60 solid;
    }
    .text-color-boxes {
        color: #ffffff;
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link span {
        line-height: 1rem;
        padding: 0 1em;
    }
    /* footer {
        margin-top: 3em;
    } */
    .footer-five {
        flex: 0 0 50%;
        max-width: 50%;
        display: block;
    }
    .sidebar-search-btn {
        padding: 0.2em;
        margin: 0.2em;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    /* Front page Boxes controller*/
    #rowctrl {
        /* margin-top: 1em; */
        /* margin-bottom: 1em; */
    }
    .navbar-nav {
        text-align: left;
        /* float:left; */
    }
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link > .dashicons {
        text-align: left;
    }
    .menubottom {
        display:inline;
    }
    #search {
        border-top: 5px #cc3366 solid;
    }
    .sidebar-search-btn {
        padding: 0.2em;
        margin: 0.2em;
    }
    
    .text-color-boxes {
        color: #ffffff;
        text-align: center;
    }
    .navbar-light .navbar-nav .nav-link span {
        line-height: 1rem;
        padding: 0 1em;
    }
   
    /* footer {
        margin-top: 3em;
    } */
    .footer-five {
        flex: 0 0 50%;
        max-width: 50%;
        display: block;
    } 
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .navbar-nav {
        text-align: center;
        /* float:left; */
    }
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link > .dashicons {
        text-align: center;
    }
    .menubottom {
        display:block;
    }
    #search{
        border-top: 5px #cc3366 solid;
    }
    #categories{
        padding: 1em;
        border-top: 5px #53ee60 solid;
    }
    .text-color-boxes {
        color: #ffffff;
        text-align: right;
    }
 
    .navbar-light .navbar-nav .nav-link span {
        line-height: 2.2rem;
        padding: 0;
    }
    /* footer {
        margin-top: 15em;
    } */
    .footer-five {
        flex: 0 0 20%;
        max-width: 20%;
        display: inline;
    }
    .sidebar-search-btn {
        padding: 0.2em;
        margin: -1.2em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    /* Front page Boxes controller*/
    #rowctrl {
        margin-top: -7em;
        margin-bottom: 2em;
    }
    .navbar-nav {
        text-align: center;
        /* float:left; */
    }
    /*menu and icon inline or block type*/
    .menubottom {
        display:block;
    }
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link > .dashicons {
        text-align: center;
    }
    #search {
        border-top: 5px #cc3366 solid;

        /* margin:0 .1rem; */
    }
    #categories {
    
        border-top: 5px #53ee60 solid;
        padding: 1em;
    }
    .text-color-boxes {
        color: #ffffff;
        text-align: right;
    }
    .navbar-light .navbar-nav .nav-link span {
        line-height: 2.2rem;
        padding: 0;
    }
    /* footer {
        margin-top: 6em;
    } */
 
    .footer-five {
        flex: 0 0 20%;
        max-width: 20%;
        display: inline;
    }
    .sidebar-search-btn {
        padding: 0.2em;
        margin: -1.9em;
    }
}
   